body {
  margin: 0;
  padding: 0;
  background-color: #E6E6FA; /* lavender */
  font-family: 'Arial', sans-serif;
  text-align: center;
}



/* center content */
.container {
  max-width: 800px;
  margin: auto;
}

/* title */
.title {
  color: #4B0082;
  text-shadow: 2px 2px 5px #9370DB;
}

/* buttons */
.mode-buttons button,
.difficulty-container button,
.reset-btn {
  background-color: #C8A2C8;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #B284BE;
}

.difficulty-container {
  display: none;
}

.status {
  font-size: 20px;
  margin: 15px 0;
  color: #4B0082;
}

/* game board */
.board {
  position: relative;
  width: 390px;
  height: 390px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 130px);
  grid-template-rows: repeat(3, 130px);
  gap: 5px;
}

.cell {
  background: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Winning line */
.win-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 6px;
  background-color: #BA55D3;
  border-radius: 5px;
  transform-origin: left center;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.win-line.show {
  width: 390px;
  opacity: 1;
}
